.cr-container{
background-color: #FFFFE8;
height: 100vh;
width: 100vw;
display: flex;
flex-direction: column;

}
.cr-main{
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
    margin-left: 2rem;
    gap: 1.5rem;
    width: 80%;
}
.cr-nav{
    height: 5rem;
    background-color: #FFD4D4;
    position: fixed;
    top:0px ;
    width: 100%;

}
.cr-foot{
    position: fixed;
    bottom:0px ;
    height: 5rem;
    background-color: #FFD4D4;
    width: 100%;
}
.message-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.right{
    align-items: flex-end;
}
.message-main{
    background-color:#CDE990 ;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 10px 20px;
}
.rights{
    background-color:#69caea ;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 0px;
}
.date{
    padding-top: 0.3rem;
    font-size: 10px;
    color: grey;
}
form{
    display: flex;
    align-items: center;
    justify-content: baseline;
}
.sendbutton{
    width: 20%;
    height: 2rem;
    background-color: transparent;
    border: 2px solid grey;
}
.sendinput{
    margin: 1rem 2rem;
    width: 50%;
    padding: 0.8rem;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 3px solid grey;
}
.sendinput::placeholder{
    font-size: 16px;    
}
/* FFD4D4 */
/* CDE990 */